.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.co-name{
    font-family: 'EB Garamond';
    font-size: 32px;
    color: brown;
}
.navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 5px;
}
.navbar li{
    padding: 8px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.navbar li:hover{
    border-radius: 20px;
    background-color: rgb(113, 135, 247);
    /* background: radial-gradient(circle, rgb(113, 135, 247) 0%, rgb(236, 97, 125) 100%); */
}