.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: aliceblue;
    z-index: 100;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 70px; 
    height: 60px; 
    margin-right: 10px;
    padding: 5px 0px;
  }
  .co-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  
  .company-name {
    color: rgb(22, 99, 187);
    font-size: 28px; 
    font-style: italic;
    font-weight: bold;
  }
  .co-detail img{
    width: 43%;
  }
  
  .header-right {
    display: flex;
    padding-right: 10px;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: rgb(68, 65, 65); 
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .nav-link.projects {
    position: relative;
  }

.link{
    text-decoration: none;
    display: flex;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.nav-link.projects:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-link {
  padding: 10px;
  text-decoration: none;
  color: #2e3fa1;
  font-size: 19px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.6s;
}
.dropdown-link:hover {
  background-color: #bd9999;
}
.dropdown-link:nth-child(2):hover {
  background-color: #998296;
}
.logo2 {
    display: none;
}
.nav-links-res, .responsice-menu{
    display: none;
}

@media  (max-width: 767px) {
    .co-detail {
        display: none;
    }
    .responsice-menu{
        display: block;       
        padding: 8px 0px;
    }
    .nav-links {
      display: none;
    }
    .nav-links-res{
        position: absolute;
        z-index: 1;
        border-radius: 15px;
        box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
        top: 70px;
        right: 0;
        width: 200px;
        background: #eb7c7c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .nav-links-res.open{
        display: none;
    }
    .nav-link-res {
        padding: 15px 0;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: black;
    }
  }